.movie-finder__home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green;
}
.movie-finder__header {
    display: flex;
    margin: 20px;
}
.movie-finder__searchbar {
    margin: 20px 0px;   
}
.movie-finder__searchbar input {
    margin: 0px 20px;
}

.movie-finder__list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-finder__movieclip {
    display: flex;
    width: 160px;
    /* height: 200px; */
    margin: 20px;
    cursor: pointer;
}
.movie-finder__movie_details {
    display: flex;
    justify-content: center;
    margin: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.movie-finder__movie_results{
    margin: 30px;
    border: 1px solid red;
    min-width: 450px;
}
.movie-finder__movie_thumbnail{
    margin: 30px;
    border: 1px solid red;
    min-width: 450px;
}
.movie-finder__movie_thumbnail label{
    margin: 20px;
}
.thumbnail_close_icon {
    margin: 10px;
    background: teal;
    width: 23px;
    height: 36px;
    position: relative;
    font-size: 30px;
    cursor: pointer;
  }