.movie-finder__home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid green;
}
.movie-finder__header {
    display: flex;
    margin: 20px;
}
.movie-finder__searchbar {
    margin: 20px 0px;   
}
.movie-finder__searchbar input {
    margin: 0px 20px;
}

.movie-finder__list { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-finder__movieclip {
    display: flex;
    width: 200px;
    height: 100px;
    margin: 20px;
}
.movie-finder__movie_details {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
}
.movie-finder__movie_results{
    margin: 30px;
    border: 1px solid red;
    min-width: 450px;
}